<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/">My App</a>
  <a routerLink="/spreadsheet">Spreadsheet</a>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">{{ selectedLangName }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="selectedLang($event)">Item 1</button>
    <button mat-menu-item (click)="selectedLang($event)">Item 2</button>
  </mat-menu>
  <a *ngIf="!isAutenticated" routerLink="/auth">SignIn/LogIn</a>
  <a *ngIf="isAutenticated" (click)="onLogOut()">LogOut</a>
</mat-toolbar>
